/*全体・その他*/
body {
    width: 400px;
    margin: auto;
}

/*ヘッダー部分（赤、白、紫）*/
.header {
    height: 100px;
    background-color: #f00;
    position: relative;
}
.head-contents {
    background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    padding: 10px 10px 10px 0;
}
.head-item {
    width: 40px;
    height: 40px;
    background-color: #6729a0;
    margin-left: 10px;
}

/*メイン部分（緑、青、オレンジ）*/
.main {
    display: flex;
}
.mein-left {
    width: 150px;
    height: 250px;
    background-color: #0a5;
}
.main-right {
    width: 250px;
    height: 250px;
    background-color: #2563eb;
    display: flex;
}
.right-container{
    margin: 40px 0 0 40px;    
}
.main-contents {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-bottom: 10px;
}

/*フッター部分（黄色）*/
.footer {
    height: 100px;
    background-color: #fd0;
}